<!DOCTYPE html>
<html>
    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="./css/styles.css">
        <script src="./js/main.js"></script>
    </head>

    <body>
        {{>header}}
        <h1>Pharmoogle {{ name }}</h1>
        {{>footer}}
    </body>
</html>